{% extends 'base.html.twig' %}

{% block title %}Confirmă Ștergerea Intrării{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center text-danger">Șterge Intrare</h1>
    <p class="text-center">Ești sigur că vrei să ștergi intrarea din data de: <strong>{{ intrare.data|date('Y-m-d') }}</strong>?</p>

    <form method="post" action="{{ path('app_delete_intrare', {'id': intrare.id}) }}">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ intrare.id) }}">
        <div class="text-center">
            <button type="submit" class="btn btn-danger">Confirmă</button>
            <a href="{{ path('app_product_in', {'id': intrare.produs.id}) }}" class="btn btn-secondary">Anulează</a>
        </div>
    </form>
</div>
{% endblock %}
