
{% extends 'base.html.twig' %}

{% block title %}Produse{% endblock %}

{% block body %}
<h1>Produse</h1>

<table>
    <thead>
        <tr>
            <th>Nume</th>
            <th>Stoc</th>
        </tr>
    </thead>
    <tbody>
        {% for produs in produse %}
            <tr>
                <td>{{ produs.nume }}</td>
                <td>{{ produs.stoc }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
